/*----------------------------------------
header
----------------------------------------*/
header {
  width: 100%;
  height: calc(35vh + 2em);
  position: relative;
  transition: all 1s ease-in-out;
  /* background: linear-gradient(red, var(--bg-color)); */
}

header.visualisationopen {
  /* calc 100vh + hoogte van info section en hoogte van visualize button */
  height: calc(100vh + 3em + 15em);
}

header section.info {
  width: 90vw;
  /* zelfde max width als nummers eronder */
  max-width: calc((var(--playlist-song-width) + 11.6em) * 2);
  height: 17em;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 9em 1fr;
  grid-template-rows: 9em 2em;
  padding: 1em;
  align-items: center;
  column-gap: 1.5em;
  padding-top: 8vh;
  position: relative;
}

header section.info p {
  color: var(--secondary-text-color);
  justify-self: center;
}

header section.info div h1 {
  font-size: 2em;
  font-weight: 800;
  color: var(--primary-text-color);
}

header section.info div p {
  font-weight: 500;
  color: var(--secondary-text-color);
}

header section.info img {
  width: 9em;
}

header section.buttonsection {
  width: 100%;
  position: absolute;
  bottom: 1.5em;
  /* background: blue; */
  display: flex;
  justify-content: center;
  height: 3em;
}

header section.buttonsection button {
  height: 100%;
  width: 8em;
}

header button {
  font-weight: 500;
  font-size: 1.2em;
  background: var(--spotify-green);
  text-align: center;
  border-radius: .7em;
  padding: .6em 1.5em;
  display: inline-block;
  width: fit-content;
  color: black;
  /* justify-self: end; */
}

header button.back {
  position: fixed;
  top: 1em;
  left: 1em;
  z-index: 2;
  opacity: 1;
  transition: opacity .2s ease-in-out;
}

header button.back.hidden {
  opacity: 0;
  pointer-events: none;
}



/*----------------------------------------
visualisatie container
----------------------------------------*/
section.visualisation {
  /* background: red; */
  height: 0;
  width: 100%;
  transition: all 1s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
}

section.visualisation.open {
  height: 100vh;
  opacity: 1;
  transition: height 1s ease-in-out;
}

section.visualisation div {
  width: 90%;
  height: 90%;
  margin-bottom: 3em;
  background: var(--bg-color);
}



/*----------------------------------------
playlist nummers
----------------------------------------*/
main {
  display: flex;
  justify-content: center;
  width: 100%;
}

main ul {
  display: grid;
  column-gap: 1.5em;
  grid-template-columns: repeat(auto-fit, minmax(var(--playlist-song-width), 1fr));
  /* 56.5 = 2 columns van 28 met .5 gap  */
  width: calc((var(--playlist-song-width) + 11.6em) * 2);
  /* calc 90vw - padding .8em beide kanten */
  max-width: calc(90vw - 1.6em);
  align-items: center;
}

main ul li {
  width: 100%;
  /* min-width: var(--playlist-song-width); */
  /* calc 90vw - padding .8em beide kanten */
  max-width: calc(90vw - 1.6em);
  display: flex;
  justify-content: space-between;
  height: 5em;
  align-items: center;
  padding: .8em;
  overflow: hidden;
  background: var(--bg-color);
  border-bottom: solid .1px var(--primary-text-color);
}

main ul li div:first-of-type {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

main ul li div h2 {
  overflow: hidden;
  text-overflow: '..';
  white-space: nowrap;
  text-align: start;
  font-size: 1rem;
  color: var(--primary-text-color);
}

main ul li div small {
  color: var(--secondary-text-color);
}

main ul li div:last-of-type {
  margin: 0 .5em;
  width: fit-content;
}




/*----------------------------------------
loading animatie deels van bron: https://cssdeck.com/labs/audio-wave
----------------------------------------*/
main ul li.loading {
  justify-content: center;
}

main ul li div.loadAnimation {
  display: flex;
  flex-direction: row;
  width: fit-content;
  justify-content: space-between;
  align-items: center;
  width: 4em;
  height: 40px;
  overflow: visible;
}

main ul li div.loadAnimation span {
  width: 5px;
  height: 5px;
  animation: audio-wave 1.8s infinite ease-in-out;
  border-radius: 10px;
}

main ul li div.loadAnimation span:nth-child(2) {
  animation-delay: 0.2s;
}
main ul li div.loadAnimation span:nth-child(3) {
  animation-delay: 0.4s;
}
main ul li div.loadAnimation span:nth-child(4) {
  animation-delay: 0.6s;
}
main ul li div.loadAnimation span:nth-child(5) {
  animation-delay: 0.8s;
}
main ul li div.loadAnimation span:nth-child(6) {
  animation-delay: 1s;
}
main ul li div.loadAnimation span:nth-child(7) {
  animation-delay: 1.2s;
}

@keyframes audio-wave {
  0% {
    padding: 0;
    background: var(--secondary-text-color);
  }
  25% {
    padding: 17.5px 0px;
    background: var(--primary-text-color);
  }
  50% {
    padding: 0;
    background: var(--secondary-text-color);
  }
  100% {
    padding: 0;
    background: var(--secondary-text-color);
  }
}
