<header>
  <section class="info">
    <img #playlistImg *ngIf="playlist != undefined" src="{{playlist.images[0].url}}" alt="playlist icon" crossorigin="anonymous">
    <div *ngIf="playlist != undefined">
      <h1>{{playlist.name}}</h1>
      <p>{{playlist.description}}</p>
    </div>
    <p>
      <ng-container *ngIf="loading">Loading: </ng-container>{{playlistTotal}} song<ng-container
        *ngIf="playlistTotal > 1">s</ng-container>
      <ng-container *ngIf="loading">...
      </ng-container>
      <ng-container *ngIf="!loading"> - {{playlistDuration | date:'HH:mm':'+0000'}}</ng-container>
    </p>
    <button (click)="this.toggleVisualisation()">Visualize</button>
  </section>

  <!-- <button (click)="this.toggleVisualisation()">Visualize</button> -->

</header>

<main>
  <ul>
    <li *ngFor="let song of playlistTracks">
      <div>
        <h2>{{song.name}}</h2>
        <small>
          <ng-container *ngFor="let artist of song.artists ; let isLast=last">
            {{artist.name}}{{isLast ? '' : ', '}}</ng-container>
        </small>
      </div>
      <div>
        <small>
          {{song.duration_ms | date:'mm:ss'}}
        </small>
      </div>
    </li>
  </ul>
</main>

<section *ngIf="popupVisible" class="visualisation">
  <app-visualisation></app-visualisation>
</section>


<!-- loading animation -->
<main *ngIf="loading">
  <ul>
    <li *ngFor="let item of [].constructor(playlistTotal); let i = index" class="loading">
      <div class="loadAnimation">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
    </li>
  </ul>
</main>
