* {
  color: white;
}

main {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.energycontainer, .acousticnesscontainer {
  z-index: 5;
}

.energycontainer {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: fit-content;
  top: 0;
}
.energycontainer:first-of-type {
  left: 0;
}
.energycontainer:last-of-type {
  right: 0;
}

.acousticnesscontainer {
  position: absolute;
  top: 50%;
  transform: rotate(-90deg);
  left: -1em;
}

#room {
  position: absolute;
  height: 100%;
  width: 100%;
}
