<!-- <p>Average valence: {{data.averages.valence | number : '1.2-2'}}%</p>
<p>Average danceability: {{data.averages.danceability | number : '1.2-2'}}%</p>
<p>Average energy: {{data.averages.energy | number : '1.2-2'}}%</p>
<p>Average acousticness: {{data.averages.acousticness | number : '1.2-2'}}%</p>
<p>Average instrumentalness: {{data.averages.instrumentalness | number : '1.2-2'}}%</p> -->

<main>
  <div class="energy">
    <div class="energycontainer"></div>
    <div class="energycontainer"></div>
  </div>

  <div class="acoustic">
    <div class="acousticnesscontainer"></div>
  </div>


  <svg id="room" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 455 388" stroke="#000" stroke-miterlimit="1">
    <style>
      svg.energy path {
        transform-origin: center;
      }

      svg.energy,
      svg.acoustic {
        width: 5em;
      }
    </style>
    <polygon points="11.55 278.34 11.33 119.67 1 115 1 273.22 11.55 278.34" style="fill: #2e3192;" />
    <polygon points="227.55 386.56 227.55 372.34 11.53 263.67 11.55 278.34 227.55 386.56" style="fill: #ef4136;" />
    <polygon points="443.78 263.67 227.55 372.34 227.55 386.56 443.78 278.78 443.78 263.67" style="fill: #00aeef;" />
    <polygon points="444 119.89 443.78 263.67 443.78 278.78 454.22 273.22 454.22 114.56 444 119.89"
      style="fill: #be1e2d;" />
    <polygon points="227.33 155.67 443.78 263.67 444 119.89 227.33 11.22 227.33 155.67" style="fill: #f15a29;" />
    <polygon points="11.53 263.67 227.33 155.67 227.33 11.22 11.33 119.67 11.53 263.67" style="fill: #fff200;" />
    <polygon points="11.53 263.67 227.55 372.34 443.78 263.67 227.33 155.67 11.53 263.67" style="fill: #754c29;" />
    <polygon points="227.33 1 1 115 11.33 119.67 227.33 11.22 444 119.89 454.22 114.56 227.33 1"
      style="fill: #ec008c;" />
  </svg>
</main>
