<p>Average valence: {{data.averages.valence | number : '1.2-2'}}%</p>
<p>Average danceability: {{data.averages.danceability | number : '1.2-2'}}%</p>
<p>Average energy: {{data.averages.energy | number : '1.2-2'}}%</p>
<p>Average acousticness: {{data.averages.acousticness | number : '1.2-2'}}%</p>
<p>Average instrumentalness: {{data.averages.instrumentalness | number : '1.2-2'}}%</p>

<main>
  <div id="energygroup"></div>

  <svg id="bg"> <rect viewBox="0 0 100 100" style="fill:rgb(0,0,255);stroke-width:3;stroke:rgb(0,0,0)" />
  </svg>
</main>
