app-visualisation main {
	position: relative;
	height: 100%;
	width: 100%;
	max-width: 60em;
	margin: 0 auto;
	overflow: hidden;
}

app-visualisation main #room {
	position: absolute;
	z-index: 2;
	height: 100%;
	width: 100%;
}



/*----------------------------------------
buttons voor filters, credits
----------------------------------------*/
app-visualisation main button {
	position: absolute;
	z-index: 6;
	height: 4em;
	width: 4em;
	padding: 0.5em;
}

app-visualisation main button svg {
	width: 100%;
	height: 100%;
}

app-visualisation main button svg path {
	fill: var(--secondary-text-color);
	transition: all .2s ease-in-out;
}

app-visualisation main button:focus-visible svg path,
app-visualisation main button:hover svg path {
	fill: var(--primary-text-color);
}

app-visualisation main button.filterbtn {
	top: 0;
	right: 0;
}

app-visualisation main button.creditsbtn {
  bottom: 0;
  right: 0;
}



/*----------------------------------------
popups voor filters, credits
----------------------------------------*/
app-visualisation main aside {
	background: var(--bg-color);
	color: var(--primary-text-color);
	padding: 2em;
	border-radius: .8em;
	box-shadow: 0 0 1em rgba(0, 0, 0, 0.2);
	height: 20em;
	width: 20em;
  max-width: 100%;
  max-height: 100%;
	position: absolute;
	transition: all .8s cubic-bezier(.6, .04, .1, 3);
	filter: none;
	visibility: visible;
}

app-visualisation main aside.hidden {
	border-radius: .8em;
	filter: blur(3px);
	z-index: 1;
	top: 50%;
	right: 50%;
	transform: translate(50%, -50%);
	transition: all .8s cubic-bezier(0.90, -2, 0.40, 0.96);
	visibility: hidden;
}

/* mobiel scherm popup */
@media screen and (max-width:600px) {
	app-visualisation main aside {
		height: 90%;
		width: 100%;
		transition: all .4s ease-in-out;
		z-index: 5;
	}

	app-visualisation main aside.hidden {
		z-index: 5;
		transform: translate(100%, 0);
		top: 0;
		right: 0;
	}
}

/*----------------------------------------
popups voor filters
----------------------------------------*/
app-visualisation main aside.filtercontainer:not(.hidden) {
  top: 0;
  right: 0;
}

app-visualisation main aside.filtercontainer div {
	display: flex;
	flex-direction: column;
	gap: .5em;
	margin-top: 1em;
}

app-visualisation main aside.filtercontainer div label {
	display: flex;
	flex-direction: row-reverse;
	place-self: start;
	gap: .5em;
}

@media screen and (min-width:601px) {
	app-visualisation main aside.filtercontainer.delayedzindex {
		z-index: 5;
	}
}

/*----------------------------------------
popups voor credits
----------------------------------------*/
app-visualisation main aside.creditscontainer {
  opacity: 0;
  transition: all .4s ease-in-out;
  filter: none;
  width: 30em;
  height: 20em;
}
app-visualisation main aside.creditscontainer:not(.hidden) {
  top: 50%;
	right: 50%;
	transform: translate(50%, -50%);
  opacity: 1;
  z-index: 100;
}

app-visualisation main aside.creditscontainer button {
  position: absolute;
  top: 1.5em;
  right: 1.5em;
  background: var(--spotify-green);
  border-radius: .7em;
  transition: all .2s ease-in-out;
}

app-visualisation main aside.creditscontainer button:focus-visible,
app-visualisation main aside.creditscontainer button:hover {
  transform: scale(1.05);
  background: var(--spotify-green-hover);
}

app-visualisation main aside.creditscontainer button:before,
app-visualisation main aside.creditscontainer button:after {
  position: absolute;
  top: 10%;
  right: calc(50% - 2px);
  content: ' ';
  height: 80%;
  width: 4px;
  background: var(--bg-color);
  border-radius: 50em;
}
app-visualisation main aside.creditscontainer button:before {
  transform: rotate(45deg);
}
app-visualisation main aside.creditscontainer button:after {
  transform: rotate(-45deg);
}

app-visualisation main aside.creditscontainer ul {
  margin-top: 1em;
  display: flex;
  gap: .5em;
  flex-direction: column;
}



/*----------------------------------------
visualisatie filter effects
----------------------------------------*/
app-visualisation .dancecontainer.hidden,
app-visualisation .energy.hidden,
app-visualisation .acoustic.hidden {
	opacity: 0;
}

app-visualisation .acoustic,
app-visualisation .energy {
	transition: all .4s ease-in-out;
}



app-visualisation .dancecontainer {
  pointer-events: none;
	opacity: 1;
	position: absolute;
	z-index: 4;
	height: 0;
	width: 0;
	margin-left: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 1.3s ease-in-out;
}

app-visualisation main.open .dancecontainer {
	height: 100%;
	width: 100%;
	margin-left: 0;
	transition: all .7s ease-in-out;
}

app-visualisation .dancecontainer:nth-of-type(1) img {
  height: 20%;
	left: 10%;
	top: 10%;
}

app-visualisation .dancecontainer:nth-of-type(2) img {
	height: 20%;
	margin-left: 20%;
	margin-top: 35%;
}

app-visualisation .dancecontainer:nth-of-type(3) img {
	height: 20%;
	margin-left: -30%;
	margin-top: 25%;
}
