@font-face {
  font-family: montserrat;
  src: url(assets/fonts/Montserrat-VariableFont_wght.ttf);
}

*,
*::before,
*::after {
  box-sizing:border-box;
  margin: 0;
  padding: 0;
  color: var(--text-color);
}

:root {
  /* colors */
  --bg-color: #212121;
  --primary-text-color: #fff;
  --secondary-text-color: #b3b3b3;
  --spotify-green: #1db954;

  /* visualisation colors */
  --energy-fill: #e344de;

  /* visualisation other */
  --acousticbounce: 1.2;

  /* sizes */
  --playlist-song-width: 24em;
}

body {
  background: var(--bg-color);
  font-family: montserrat, 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  position: relative;
}

ul,
ol,
dd {
  list-style-type: none;
}

button {
  background-color: transparent;
  color: inherit;
  border-width: 0;
  padding: 0;
  cursor: pointer;
}
