@font-face {
  font-family: montserrat;
  src: url(assets/fonts/Montserrat-VariableFont_wght.ttf);
}

*,
*::before,
*::after {
  box-sizing:border-box;
  margin: 0;
  padding: 0;
  color: var(--primary-text-color);
}

:root {
  /* colors */
  --bg-color: #212121;
  --primary-text-color: #fff;
  --secondary-text-color: #b3b3b3;
  --spotify-green: #1db954;
  --spotify-green-hover: #1ed760;

  /* visualisation colors */
  --barlow: #ffa500;
  --barmid: #ABAD20;
  --barhigh: var(--spotify-green);

  --energy-fill: #e344de;

  --soundwaves: var(--bg-color-dark);
  /* --soundwaves: #0096FF; */

  --note-color-1: #1db954;
  --note-color-2: #212121;

  --speaker-left: #363c4f;
  --speaker-top: #898b8f;
  --speaker-right: #42203e;
  --speaker-outer-circle: #212121;
  --speaker-inner-circle: #212121;
  --speaker-handle: #041d2b;

  /* constants */
  --bg-color-dark: #212121;

  /* sizes */
  --playlist-song-width: 24em;
}

body {
  background: var(--bg-color);
  font-family: montserrat, 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  position: relative;
}

ul,
ol,
dd {
  list-style-type: none;
}

button {
  background-color: transparent;
  color: inherit;
  border-width: 0;
  padding: 0;
  cursor: pointer;
}
